*~
.*.sw?
*.mo
*.orig
*.pyc
*.pyo
*.rej
*.L68
*.S68
.DS_Store

/*
/*/
!/3rdparty/
!/bgfx/
!/scripts/
!/src/
!/.gitattributes
!/.gitignore
!/makefile
!/dist.mak
!/*.md
!/*.bdf
!/COPYING
/.idea
.vscode
